* {
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;
    color: white;
  }
  
  body {
    background: #8990ec;
  }
  
  .wrapper {
    height: auto;
    width: 40%;
    color: white;
    background: #272639;
    border-radius: 1rem;
    padding: 1.2rem;
    margin: 80px auto;
  }
  h1{
    text-align: center;
  }
  #topContainer {
    margin-top: 2rem;
  }
  
  .container {
    margin-top: 1.4rem;
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 0.6rem;
  }
  
  .inputContainer {
    background: #353959;
    border-radius: 1.4rem;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
  }
  
  #billTotalInput,
  #tipInput {
    height: 2rem;
    font-size: 1.2rem;
    background: none;
    border: none;
    outline: none;
    padding: none;
      margin: 0;
  }
  
  .buttonContainer {
    background: #8990ec;
    display: grid;
    place-items: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
  }
  
  .splitButton {
    background: none;
    border: none;
  }
  
  .controls {
    display: flex;
    align-items: center;
  }
  
  .splitButton {
    font-size: 0.8rem;
    font-weight: bold;
    display: grid;
    place-items: center;
  }
  
  .buttonText {
    color: #353959 !important;
    cursor: pointer;
  }
  
  .splitAmount {
    font-size: 1.6rem;
    margin: 0.8rem;
  }
  
  #bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .totalContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .totalBill {
    display: flex;
    justify-content: space-between;
  }
  
  .total {
    font-size: 2rem;
  }
  
  .clearButton {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    width: 7em;
    border-radius: 1rem;
    color: #000;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
   }
   
   .clearButton:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
   }
   
   .clearButton:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
   }
   
   .clearButton:disabled {
    cursor: auto;
    color: grey;
   }

   .clearButtonDiv{
    padding: 2rem;
    display: flex;
    justify-content: center;
   }

   @media screen and (max-width: 600px) {
   .wrapper{
    width: 90%;
    /* height: auto; */
   }
  }